$primary: #116ACC;
$primaryHover: #5897DB;
$primaryActive: #0C4A8F;
$primaryLight: #A0C3FF;
$secondaryHover: #A0C3EB;
$secondaryActive: #CFE1F5;
$error: #FD4E5D;
$success: #76CA66;
$placeholder: #6B7280;
$text: #000000;
$textLighter: #182233;
$textAccent: #FFFFFF;
$select: #374151;
$background: #F3F4F6;
$backgroundDark: #E5E5E5;
$btnDisabled: #9CA3AF;
